#contact {
    padding-bottom: 60rem;
}

#contact-section {
    background-color: #27374D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

#gmail_content:hover{
text-decoration: underline;

}

p{
    color: white;
}
  
  #contact-section h2 {
    margin-bottom: 10px;
  }
  
  #contact-section ul {
    list-style: none;
    padding: 0;
  }
  
  #contact-section ul li {
    margin-bottom: 5px;
  }
  
  #contact-section a {
    text-decoration: none;
    color: #ffffff;
  }
  
  #social-icons {
    margin-top: 10px;
  }
  
  #social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  #social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }