#header {
	justify-content: center;
    position: fixed;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid white;
}

#header_content {
    margin: -20px 500px;
    top: 20;
	display: flex;
	float: right;

}